body{
	background-color:#1A191F;
}

a{
	text-decoration:none;
}

*{
	box-sizing: border-box;
}

@mixin transition($transition...){
	-webkit-transition:$transition;
	-moz-transition:$transition;
	-ms-transition:$transition;
	-o-transition:$transition;
	transition:$transition;
}

@mixin transition-duration($duration...){
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-ms-transition-duration: $duration;
	-o-transition-duration: $duration;
}

.search{
	width:30%;
	height: 3em;
	margin:2em auto;

	.text_box{
		width:80%;
		border-top-left-radius:15px;
		border-bottom-left-radius:15px;
		height:2.5em;
		font-size:1.3em;
		padding:.8em;
		margin:0;
		border:0;
		background-color:#25232C;
		color:#555264;
	}

	.button{
		cursor: pointer;
		color:white;
		text-align:center;
		width:20%;
		font-size: 1.5em;
    	height: 2.2em;
    	padding-top:.4em;
		border-top-right-radius:15px;
		border-bottom-right-radius:15px;
		background-color:#FD2155;
		float:right;
	}

}

.answers{
	background-color:white;
	width:90%;
	font-family: sans-serif;
	height:auto;
	margin:1em auto;
	padding:.75em;
	@include transition(0.15s ease-out);

	&:hover{
	border-left:10px solid #FD2155;
	}

	a{
		color: #25232C;
	}
}